@use "../../../assets/globalVariables.scss" as globalVariables;
@use "../../../assets/globalMixins.scss" as globalMixins;
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

.navBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  background-color: globalVariables.$mainRedColor;
}

.menuLogoWrapper {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
}

.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 60%;

  img {
    width: 40%;
  }
}

.menuBtn {
  all: unset;
  color: white;
  font-size: 24px;
}

.btnsContainer {
  display: flex;
  flex-direction: row nowrap;
  column-gap: 15px;
  align-items: center;
  font-weight: bold;

  .loginBtn,
  .registerBtn {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: globalVariables.$btnHoverColor;
      @include globalMixins.btnHoverAnimation;
    }
  }
}
