@use "../../assets/globalMixins.scss" as globalMixins;
@use "../../assets/globalVariables.scss" as globalVariables;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.registerCardContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 60px 0px;
}

.registerCard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  row-gap: 20px;
  padding: 40px 30px;
  @include globalMixins.blackBorder;
  border-color: globalVariables.$boxBorderGrey;
  border-radius: 10px;
  background-color: globalVariables.$cardBackgroundColor;
}

.firstNameInputContainer,
.middleNameInputContainer,
.lastNameInputContainer,
.heightInputContainer,
.ageInputContainer,
.schoolInputContainer,
.jobInputContainer,
.maximumDistanceInputContainer,
.usernameInputContainer,
.emailInputContainer {
  position: relative;
  width: 100%;
  i {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
  }
}

.firstNameContainer,
.middleNameContainer,
.lastNameContainer,
.heightContainer,
.ageContainer,
.schoolContainer,
.jobContainer,
.maximumDistanceContainer,
.usernameContainer,
.emailContainer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  width: 65%;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid globalVariables.$boxBorderGrey;
    border-radius: 5px;

    @include globalMixins.inputFocusAndBlur;
  }
}

.error {
  color: red;
  text-align: center;
}

.genderContainer,
.preferedGenderContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 65%;
}

.preferedGenderContainer {
  width: 100%;
}

.genderOptionContainer,
.preferedGenderOptionContainer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  align-items: center;
}

.biographyContainer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  width: 65%;

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid globalVariables.$boxBorderGrey;
    border-radius: 5px;

    @include globalMixins.inputFocusAndBlur;
  }
}

.profilePicture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profilePictureInput {
  display: none;
}

.uploadProfilePictureBtn {
  border-radius: 10px;
  border: 1px solid globalVariables.$boxBorderGrey;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: globalVariables.$whiteBtnHoverColor;
    @include globalMixins.btnHoverAnimation;
  }
}

.profilePictureContainer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  align-items: center;
  width: 40%;

  label {
    text-align: center;
  }
}

.profilePicturesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}

h4 {
  text-align: center;
}

.preferedGenderContainerWrapper {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  align-items: center;
  width: 65%;
}
